
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Adı</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Cerez</td>
        </tr>
    </tbody>
</table>