

<div class="box color-2">
    <div class="container">
        <div class="info-details">
            <h1>Best deals and discounts you will find on our website</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elittriue turpis semper mattis olopsum</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="shop-links">
                    <div class="shop-links-cover">
                        <img src="~/Content/Zeon/images/photos/link-1.jpg" alt="image for link" />
                    </div>
                    <div class="shop-links-box">
                        <h2>fashion for woman <span>Top</span></h2>
                        <a href="all-products.html">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-links">
                    <div class="shop-links-cover">
                        <img src="~/Content/Zeon/images/photos/link-2.jpg" alt="image for link" />
                    </div>
                    <div class="shop-links-box shop-links-box-1">
                        <h2>fashion for kids <span>Top</span></h2>
                        <a href="all-products.html">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shop-links">
                    <div class="shop-links-cover">
                        <img src="~/Content/Zeon/images/photos/link-3.jpg" alt="image for link" />
                    </div>
                    <div class="shop-links-box shop-links-box-2">
                        <h2>fashion for man <span>Top</span></h2>
                        <a href="all-products.html">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
