

<div class="the-slider slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper">
    <div class="slide-arrows">
        <div class="slide-left"></div>
        <div class="slide-right"></div>
    </div>
    <ul class="slide-wrapper">
        <li class="slide"><img src="~/img/1.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/2.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/3.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/4.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/5.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/6.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
        <li class="slide"><img src="~/img/7.jpg" style="max-height:700px;max-width:1400px;min-height:700px;min-width:1400px" alt="slider image"></li>
    </ul>
    <ul class="the-bullets-dots" data-tesla-plugin="bullets">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</div>
